html{
    direction: ltr;
    height: 100%;
    min-width: 1850px;
    min-height: 1000px;
    will-change:scroll-position;
}

body {
    background-color: rgb(208 208 208);
}

.header {
    background-image: url('./wallpaper.jpg');
    background-size: 3400px;
    background-attachment:scroll;
    background-position: 0px -70px;
    margin: -10px -8px;
    width: auto;

}

.navBar {
    background-color:rgba(245, 245, 245, 0.934);
    margin: -10px -5px;
    z-index: 2;
    max-height: 90px;
    width: inherit;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

li {
    display: inline-block;
    vertical-align: middle;
}

.home {
    text-transform: capitalize;
    margin-left: 60px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Audiowide", sans-serif;
    transition: all 0.1s;
}

.about {
    text-transform: capitalize;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Audiowide", sans-serif;
    transition: all 0.1s;
}

.strings {
    margin-left: 1160px;
    text-decoration: none;
    color: rgb(0, 0, 88);
    font-weight: 600;
    letter-spacing: 0.5px;

}

.home:hover,
.about:hover,
.strings:hover {
    color: blue;
    text-decoration: underline;
}

.bzu {
    padding: 15px 15px;
    border-width: 1px;
    border-color: white;
    border-style: none double none none;
    margin: 4px 0 0 0;
}

.desc {
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: 800;
    width: fit-content;
    min-width: 600px;
    max-width: 750px;
    overflow: auto;
    margin: 30px 0px 5px 60px;
    background-color: rgba(212, 212, 212, 0.788);
    border-color: white;
    border-width: 2px;
    border-style: none double;
    border-radius: 10px;
    cursor: default;
    /*To define the delay of transition for properties*/
    transition: background-color 0.5s, width 0.5s, font-size 0.5s;
    padding-top: 0;

}

.welcome {
    text-align: left;
    margin-left: 25px;
}

.CourseName {
    font-style: normal  ;
    color: blue;
    margin-left: 5px;
}

.desc:hover {
    background-color: rgb(212, 212, 212);
}

.ourTeam {
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    color: rgba(62, 64, 204, 0.95);
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.473);
    border-style: none none double none;
    margin: 10px 0 0 15px;
}

.Gnames {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    margin: 50px 0 0 80px;
    color: rgba(0, 0, 255, 0.575);
}

.Names {
    line-height: 50px;
    cursor: default;
    background-color: rgb(212, 212, 212);
    width: 40%;
    overflow: auto;
    border-width: 5px;
    border-color: rgba(175, 6, 6, 0.473);
    border-style: double;
    border-radius: 15px;
    margin: 15px 0 0 30px;
}

.eyas,
.hanna,
.yousef {
    color: black;
}

.dt:hover {
    border-width: 1px;
    border-color: antiquewhite;
    border-style: none double none none;
    border-radius: 10px;
}
/*Boxes*/
.boxes {
    margin-top: 70px;
    margin-left: 10px;
}

.box1,
.box2,
.box3 {
    border-width: 2px;
    border-color: black;
    border-style: double;
    width: 70%;
    margin: auto;
    transition: background-color 0.75s;
}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    width: fit-content;
    border-width: 2px;
    border-color: black;
    border-style:none none solid none;
    cursor: default;
}

.circle {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.767);
}

.name {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 10px;
}

table {
    margin-left: 50px;
    overflow: auto;
}

th {
    padding-left: 100px;
    text-align: left;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

td {
    padding-left: 100px;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.box1:hover,
.box2:hover,
.box3:hover {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.877);
}
